<div class="deletepop form">
    <div class="popup">
        <h4 class="font-style">@MasterISS_Archive_Management_Website.Localization.Model.AreYouSure</h4>

        <ul>
            <li><a class="pop-cancel" href="#">@MasterISS_Archive_Management_Website.Localization.Model.Cancel</a></li>
            <li><a class="pop-delete" href="#">@MasterISS_Archive_Management_Website.Localization.Model.Delete</a></li>
        </ul>
    </div>
    <div class="backgrey"></div>
</div>

