@*<div class="delete-pop-click"> 
    <div class="deletepop">
        <div class="popup">
            <p>are you sure?</p>
            <p>you are about to delete this item permanentley</p>
            <ul>
                <li><a class="pop-cancel" href="#">Cancel</a></li>
                <li><a class="pop-delete" href="#">Delete</a></li>
            </ul>
        </div>
        <div class="backgrey"></div>
    </div>
</div>*@