@using MasterISS_Archive_Management_Website.Helpers

<div class="language-box">
    <img class="language-button" @*src="~/Content/Images/Shared/language.svg"*@ title="Language" />
    <div class="language-dropdown">
        <ul>
            <li>@Html.LanguageLink("Türkçe", "tr-tr")</li>
            <li>@Html.LanguageLink("English", "en-US")</li>
        </ul>
    </div>
</div>