<MasterISS_Archive_Management_Website.Properties.Settings>
 <setting name="uploadMaxFileCount" serializeAs="String">
  <value>25</value>
 </setting>
 <setting name="CookieExpiration" serializeAs="String">
  <value>00:30:00</value>
 </setting>
 <setting name="MasterISSWebSiteUrl" serializeAs="String">
  <value>http://10.184.3.63:9999/tr-tr/Client/Details</value>
 </setting>
</MasterISS_Archive_Management_Website.Properties.Settings>