@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
        /*    .error-icon {
            background-image: url(../../Content/img/error.png);
            background-repeat: no-repeat;
            height: 50em;
            width: 50em
        }*/
        img.error-icon {
            height: 10em;
            width: 10em
        }

       .error-page{
           margin-top:5em
       }
        .error-letter{
            font-size:3.2em;
            margin-top:1em;
        }
    </style>
}


@*<div class="error-icon">

    </div>*@
<div class="error-page">
    <div class="row">
        <div class="col-lg-2 col-md-2">
            <img class="error-icon" src="~/Content/img/error.png" />
        </div>

        <div class="col-lg-6 col-md-6">
            <label class="error-letter">
                @MasterISS_Archive_Management_Website.Localization.Model.ASystemErrorHasOccurred
            </label>
        </div>
    </div>   
</div>