@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = MasterISS_Archive_Management_Website.Localization.Model.ErrorPage;
}


<div class="container">
    <div class="error-page">
        <div class="row">
            <div class="col-lg-4 col-md-4 error-icon">
                <img class="error-icon" src="~/Content/img/error.png" />
            </div>

            <div class="col-lg-8 col-md-8">
                <label class="error-letter">
                    @MasterISS_Archive_Management_Website.Localization.Model.ASystemErrorHasOccurred
                </label>
            </div>
        </div>
    </div>
</div>
